@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

body {
  padding: 0;
  margin: 0;
}
.container {
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: #000;
  background-image: url("../images/fondo.png");
  background-repeat: no-repeat;
  background-size: 200%;
  justify-content: center;
  align-items: center;
}

.selector {
  width: 80%;
}
.container .area-container {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/blackMarble.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}

.container .area-container .whatsapp {
  display: flex;
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: 80px;
  top: 2%;
  left: 2%;
  font-family: "Oswald";
  font-size: 20px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  align-items: center;
  background-color: #25D366;
  border-style: solid;
  border-width: 2px;
  border-radius: 70px;
  border-color: black;
}
.container .area-container .whatsapp:hover {
  width: 250px;
}
.container .area-container .whatsapp .logoWhatsapp {
  justify-self: flex-start;
  padding-left: 15px;
  width: 50px;
  height: 50px;
}
.container .area-container .whatsapp .textoWhatsapp {
  display: block;
  justify-self: flex-end;
  font-family: "Oswald";
  padding-left: 25px;
  font-size: 30px;
  color:#fff;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  opacity: 0;
}
.container .area-container .whatsapp:hover .textoWhatsapp {
  opacity: 1;
  transition-delay: .3s;
}

.container .logo {
  margin-top: 5%;
  width: 40%;
  height: 25%;
}

.text-area {
  display: flex;
  position: relative;
  padding: 4px;
  margin-bottom: 5%;
  width: 70%;
  height: 40%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
}

.text-area .select {
  width: 100%;
  align-self: center;
  height: 1.7rem;
  background-color: #A9A9A9;
  color:black;
  font-family: "Oswald";
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

select > option {
  color:black;
  font-family: "Oswald";
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  text-transform: uppercase;
}

.text-area .submit-button {
  cursor: pointer;
  width: 25%;
  height: 15%;
  font-family: "Oswald";
  font-size: 20px;
  background-color: #930D0D;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
}

textarea {
  padding: 0;
  margin: 0;
  resize: none;
  width: 100%;
  height: 80%;
  color:black;
  font-family: "Oswald";
  background-color: #A9A9A9;
  text-transform: uppercase;
  font-size: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.container .sent-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Carattere', cursive;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding: 4px;
  margin-bottom: 5%;
  width: 70%;
  height: 40%;
}
.container .sent-text p{
  margin: 0;
  padding-bottom: 5px;
}
.container .sent-text .right{
  text-align: right;
}

.container .sent-text .return-button {
  cursor: pointer;
  width: 25%;
  height: 40px;
  bottom: 0%;
  right: 0%;
  font-family: "Oswald";
  font-size: 20px;
  background-color: #930D0D;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px 0 5px 0;
  border-color: black;
}

@media screen and (max-width: 800px) {
  .container {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-size: 450%;
    justify-content: center;
    align-items: center;
  }
  .container .area-container {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/blackMarble.jpg");
    background-repeat: no-repeat;
    background-size: 400%;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
  }
  .container .logo {
    margin-top: 25%;
    width: 70%;
    height: 15%;
  }
  .text-area {
    padding: 4px;
    margin-bottom: 25%;
    width: 70%;
    height: 40%;
  }  
  
  .text-area .submit-button {
    width: 35%;
    height: 15%;
    font-size: 30px;
  }

  .container .sent-text{
    font-size: 30px;
  }
  
  .container .sent-text .return-button {
    cursor: pointer;
    width: 25%;
    height: 40px;
    font-size: 20px;
  }
}



@media screen and (max-width: 500px) {
  textarea {
    padding: 0;
    margin: 0;
    resize: none;
    width: 100%;
    height: 100%;
    color:black;
    font-family: "Oswald";
    background-color: #A9A9A9;
    text-transform: uppercase;
    font-size: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  .container .logo {
    margin-top: 5%;
    width: 70%;
    height: 25%;
  }
  
  .text-area .submit-button {

    width: 25%;
    height: 20%;
    font-size: 10px;
  }
  .container .sent-text{
    font-size: 20px;
  }
  .container .sent-text .return-button {
    cursor: pointer;
    width: 35%;
    height: 40px;
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .container {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-size: 400%;
    justify-content: center;
    align-items: center;
  }
  .container .area-container {
    display: flex;
    width: 70%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/blackMarble.jpg");
    background-repeat: no-repeat;
    background-size: 300%;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
  }

  textarea {
    padding: 0;
    margin: 0;
    resize: none;
    width: 100%;
    height: 100%;
    color:black;
    font-family: "Oswald";
    background-color: #A9A9A9;
    text-transform: uppercase;
    font-size: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  .container .logo {
    margin-top: 5%;
    width: 70%;
    height: 25%;
  }
  
  .text-area {
    display: inline-block;
    position: relative;
    padding: 4px;
    margin-bottom: 20%;
    width: 70%;
    height: 35%;
    overflow: hidden;
  }
  
  .text-area .submit-button {
    position: absolute;
    cursor: pointer;
    width: 30%;
    height: 20%;
    bottom: 0%;
    right: 0%;
    font-family: "Oswald";
    font-size: 12px;
    background-color: #930D0D;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px 0 5px 0;
    border-color: black;
  }
}

@media screen and (max-height: 700px) {

  .container {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-size: 500%;
    justify-content: center;
    align-items: center;
  }

  .container .area-container {
    width: 90%;
    height: 90%;
    background-size: 400%;
  }

  .container .logo {
    margin-top: 5%;
    width: 70%;
    height: 25%;
  }

  textarea {
    padding: 0;
    margin: 0;
    height: 80%;
    color:black;
    font-size: 12px;
  }

  .text-area {
    padding: 4px;
    margin-bottom: 5%;
    width: 80%;
    height: 50%;
  }

  .text-area .submit-button {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 15%;
    bottom: 0%;
    right: 0%;
    font-family: "Oswald";
    font-size: 12px;
  }
  .container .sent-text{
    font-size: 20px;
  }
  .container .sent-text .return-button {
    font-size: 10px;
  }
}